body {
    background-color:  rgb(243, 240, 235);
}

:root {
--offwhite:  rgb(243, 237, 229);
}

.navbar {
    background-color: var(--offwhite);

 
}

nav ul {
    width: 80%;
    display: flex ;
    margin:auto;
}

.nav-link{
    color:#696b6b;
    text-decoration: none;
}
.navbar-brand{
    color:#696b6b;
    font-size: 130%;
}

.nav-link:hover {
    background-color:rgba(223, 218, 211, 0.514); 
    color: #212529; 
        color: #212529; 
  }

  .navbar-brand:hover {
 
    color: #212529; 
        background-color:rgba(223, 218, 211, 0.514); 
        color: #212529; 
        width: 6%;
        border-radius: 20%;
  }

.jumbotron {
    background-image: url(../assets/sunset-background.JPG);
    background-size: cover;
}

.jumbotron-fluid {

height: 250px;

}

.avatar {
    border-radius: 50%;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;    
}

.container-fluid{
   display: grid;
  margin-left: -60px;
  margin-bottom: 30px;
  color: var(--offwhite);
  text-shadow: 1px 1px 1px #000000;
}
ul{
    margin: 0%;
}

.card-body1{
background-image: url(../assets/keyboard.jpg) !important;
background-size: cover !important;
height: 180px;
}

.card-body2{
    background-image: url(../assets/stocks.jpg) !important;
    background-size: cover !important;
    height: 180px;
    }

.card-body3{
background-image: url(../assets/apps.jpg) !important;
background-size: cover !important;
height: 180px;
}
.card-body4{
background-image: url(../assets/windmills.jpg) !important;
background-size: cover !important;
height: 180px;
    }

.card-body5{
background-image: url(../assets/workspace.jpg) !important;
background-size: cover !important;
height: 180px;
}

.card-body6{
background-image: url(../assets/world.jpg) !important;
background-size: cover !important;
height: 180px;
}